.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100px;
    /* background-color: aliceblue; */
}

.playbar{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    width: 55%;
    height: 100%;
    border-radius: 14px;
    border: 1px solid #f30051;
    transition: 0.5s;
}

.playbar:hover{
    box-shadow: 0 0 10px #f30051;
}

.progress {
    height: 5px;
    width: 300px;
    background-color: grey;
}

.progressBar {
    display: none;
    height: 5px;
    width: 0px;
    background-color: #f30051;
    transition: 0.5s;
    animation: progressAnimation 30s linear;;
    animation-play-state: paused;
}

@keyframes progressAnimation {
    0% {
        width: 0px;
    }
    100% {
        width: 300px;
    }
}